
@model ToDoApp.Models.ToDoList

@using ToDoApp.Helpers
@{
    string fontColorClass = Model.IsCompleted ? "completed-task" : "";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<tr class="table-row">
    <td><span class="@fontColorClass overflow-auto">@Model.Task</span></td>
    <td>
        <form action="@Url.Action("Completed", "ToDoList")" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@Model.Id" />
            <input type="checkbox" @(Model.IsCompleted ? "checked" : "") onchange="confirmCheckboxChange(this)">
        </form>
    </td>
    <td>
        @Html.StatusColumn(model => model.IsCompleted) <!-- Custom helper to generate column content -->
    </td>
    <td>
        <form method="post" action="@Url.Action("Delete", new { id = Model.Id })">
            @Html.AntiForgeryToken()
            @Html.Hidden("id", Model.Id)

            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')"><i class="bi bi-trash-fill"></i>Delete</button>
        </form>
    </td>
</tr>

<script>
    function confirmCheckboxChange(checkbox) {
        if (!checkbox.checked || confirm('Are you sure you want to change the completion status?')) {
            checkbox.form.submit();
        }
    }
</script>
